.blue-section{
    background-color: #21A7DB;
    width: 100%;
    padding: 30px 7%;
    padding-left: 12%;
}

img.blue-section-img{
    width: 80%;
}

.blue-section .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

