.advantages{
    height: 1000px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 9%;
    
}
.advantages-text{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.advantages-img-header{
    margin-bottom: 150px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantages-img-header h1{
    max-width: 700px;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 5vw;
    margin-left: 35px;
}

.advantages .flex{
    width: 40%;
    display: flex;
}

    





@media only screen and (max-width: 600px) {
    .advantages{
        padding: 0;
        height: 1100px;
        flex-direction: column;
        margin: 0;
    }
    .advantages-img-header{
        flex-direction: column;
        margin: 0;
    }
    .advantages-img-header img{
        width: 50%;
        margin-bottom: 25px;
    }
    .advantages-img-header h1{
        font-size: 6vw;
        line-height: 35px;
    }
    

    .mb{
        display: none;
    }
}