.advantages{
    height: 800px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    margin-top: 130px;
    
}
.advantages-text{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.advantages-img-header{
    margin-bottom: 150px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantages-img-header h1{
    max-width: 700px;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 87px;
}

.advantages .flex{
    width: 40%;
    display: flex;
}

    





