/* NAVBAR */
.navbar{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: transparent;
}

.left-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-menu ul{
    display: flex;
}

.left-menu ul li{
    font-size: 0.9vw;
    cursor: pointer;
    margin-left: 25px;
    list-style-type: none;
    font-weight: 500;
}

.hamburger-menu{
    display: none;
}

.right-menu{
    display: flex;
}

.right-menu button, .title-sec button{
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    
}
@media only screen and (max-width: 800px) {
    .left-menu ul{
        display: none;
    }
    .right-menu .after-logged,.right-menu .before-logged{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    
}












.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background: #0b90c5;
   
    transition: 2s;

    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color:var(--color-white);
    cursor: pointer;

    position:absolute;
    top: 20px;
    right: 30px;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-family);
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-black);
}
.app__navbar-smallscreen_links {
    list-style: none;
    margin-top: 70px;
}





